*.DS_Store

# VS Code config
.vscode

# Compiled python modules.
*.pyc
*.pyd
*~

# cache
examples/__pycache__
examples/tpch/__pycache__
data/__pycache__

data/tpch-datagen/data
data/tpch-datagen/tpch-dbgen

# logs
algebra.log

