*.DS_Store
.DS_Store
.idea
# VS Code config
.vscode
*.ipynb_checkpoints/
# Compiled python modules.
*.pyc
*.pyd
*~

# cache
examples/__pycache__
examples/tpch/__pycache__
data/__pycache__

data/tpch-datagen/data
data/tpch-datagen/tpch-dbgen

# logs
algebra.log

# tfstate
*.tfstate*

# tflock
*.terraform.lock*

# tf md
*.terraform*

# AMI/VMI Build Manifest
ami_build_manifest.json
vmi_build_manifest.json
